<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>GamesModel 8</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>GamesModel</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			pOdl/lH/2qP9BZ2riSb7GVlnvmJ9i6+mfcUg5rO6YHs=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			4JttX6SqdXdUkLKf2/EXmyJTAwmGAJtPriMb4Bv1A94=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			QswqB+wc9HMjkamUJKyg7NOw9yCVnRAFmmZLJnJpP4I=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			gEoXhVegWhqd7YPptyKKo4Nb6d2x72SWps8l+QDg+mo=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 2</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			gF6M5paU5Nc5TjXdd7ttHt1iSI1m6aR6qHv/GlZp4/E=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			QswqB+wc9HMjkamUJKyg7NOw9yCVnRAFmmZLJnJpP4I=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			gEoXhVegWhqd7YPptyKKo4Nb6d2x72SWps8l+QDg+mo=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 3</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			74kzUKLWMdb39SyyL7V9vzdYjKqFKF6o+UoGC1r3ijc=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			QswqB+wc9HMjkamUJKyg7NOw9yCVnRAFmmZLJnJpP4I=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			gEoXhVegWhqd7YPptyKKo4Nb6d2x72SWps8l+QDg+mo=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 4</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			KtMtBWgtHz1IwU8Rtf55dOjx5VlFZIS/O0lzuOkJOG8=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			QswqB+wc9HMjkamUJKyg7NOw9yCVnRAFmmZLJnJpP4I=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			gEoXhVegWhqd7YPptyKKo4Nb6d2x72SWps8l+QDg+mo=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 5</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			KtMtBWgtHz1IwU8Rtf55dOjx5VlFZIS/O0lzuOkJOG8=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			JcrONSGnWwqMQqujHeEGliamrMHuaVpKyBJjIoMzCe0=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			gEoXhVegWhqd7YPptyKKo4Nb6d2x72SWps8l+QDg+mo=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 6</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			r9LDIjxRp1GY06eZWcfWNOq3xH5Q4WVeoSeHp56Y3uo=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			KtMtBWgtHz1IwU8Rtf55dOjx5VlFZIS/O0lzuOkJOG8=
			</data>
			<key>GPGCoreDataGameState</key>
			<data>
			CrMOa2gds/mO1t7uwZN96Us3NA1aomqzJhkapmjsoFM=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			JcrONSGnWwqMQqujHeEGliamrMHuaVpKyBJjIoMzCe0=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			F1PNkTcVpcNCe9Knsulj8zWNPdVQ7y0qx7rpMwqVq3g=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 7</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			hbbo509yzqXKun7hZ3RagD6de12chaC9VCF6aswEOj0=
			</data>
			<key>GPGCoreDataAppState</key>
			<data>
			RYpNUjDf3PIjQ7MmrHydD8PYPyt5mBhqrSPMjIhbuOc=
			</data>
			<key>GPGCoreDataCachedImage</key>
			<data>
			G+7KYzI7rL5DTKWYYmmo+OUMhS6FPG53kggmfNVU8fs=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			KtMtBWgtHz1IwU8Rtf55dOjx5VlFZIS/O0lzuOkJOG8=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			JcrONSGnWwqMQqujHeEGliamrMHuaVpKyBJjIoMzCe0=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			F1PNkTcVpcNCe9Knsulj8zWNPdVQ7y0qx7rpMwqVq3g=
			</data>
			<key>GPGCoreDataScore</key>
			<data>
			3Qiv/GtiCi7bAMQmAYPs4XhIWAMRZKulZgK9CT6kREk=
			</data>
			<key>GPGCoreDataScoreReport</key>
			<data>
			8LuVSBLObQFw0Kg8GCzX6UnKVYo2BjXGt1YtA4IQF8s=
			</data>
		</dict>
		<key>GamesModel 8</key>
		<dict>
			<key>GPGCoreDataAchievement</key>
			<data>
			hbbo509yzqXKun7hZ3RagD6de12chaC9VCF6aswEOj0=
			</data>
			<key>GPGCoreDataAppState</key>
			<data>
			RYpNUjDf3PIjQ7MmrHydD8PYPyt5mBhqrSPMjIhbuOc=
			</data>
			<key>GPGCoreDataGame</key>
			<data>
			fOjxaETBuKFQEKDww1AQz4ycO1YbzoY3E9pX+7KYobo=
			</data>
			<key>GPGCoreDataGameAsset</key>
			<data>
			XKgzGRE+FhcbyvPwivaRKOUWkIXVOfMGdMk35lKLtnY=
			</data>
			<key>GPGCoreDataGameInstance</key>
			<data>
			KtMtBWgtHz1IwU8Rtf55dOjx5VlFZIS/O0lzuOkJOG8=
			</data>
			<key>GPGCoreDataLeaderboard</key>
			<data>
			JcrONSGnWwqMQqujHeEGliamrMHuaVpKyBJjIoMzCe0=
			</data>
			<key>GPGCoreDataMetadata</key>
			<data>
			G2Gvga7wLQdwhUuRry4Vs7iQSx1fFCDAQaSMki7G290=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchCriteria</key>
			<data>
			R4ggYd8FLmkCbGfK3MkZVEYGWRc4LVXoJE7UjErULxU=
			</data>
			<key>GPGCoreDataMultiplayerAutoMatchPlayer</key>
			<data>
			XknorrK7H5plhGF4uMTabvJhaFhH7J1o94gB1ULrSSo=
			</data>
			<key>GPGCoreDataMultiplayerCreationDetails</key>
			<data>
			PDtRpWrLoQGk+BJ65F6FHBy3URV6+pZW0DZ+70XTn5Q=
			</data>
			<key>GPGCoreDataMultiplayerMatch</key>
			<data>
			9M7d4Ba84e267UNcCOZbmX9M95kT4tB5ejJF5D+xMwo=
			</data>
			<key>GPGCoreDataMultiplayerPlayer</key>
			<data>
			0cC5dC/dySj5LbgEzIcMZTsEvz5LnwQ+e7EGRNTFKPo=
			</data>
			<key>GPGCoreDataMultiplayerPlayerResult</key>
			<data>
			PYjA5Efu5E1XzXxniy5XK62QHIHfnWi3s2HlDwLjLDw=
			</data>
			<key>GPGCoreDataMultiplayerUpdateDetails</key>
			<data>
			qs9J2dWa8q8u6vn7SH8fEq0RTF12auIPi16inecToiI=
			</data>
			<key>GPGCoreDataPlayer</key>
			<data>
			F1PNkTcVpcNCe9Knsulj8zWNPdVQ7y0qx7rpMwqVq3g=
			</data>
		</dict>
	</dict>
</dict>
</plist>
