.gradle
.DS_Store
.idea
.nb-gradle
*.classpath
*.project
*.settings
*.sublime-*
/bin
/build
/out
/adcolony/bin
/chartboost/bin
/appirater/bin
/admob/bin
/facebook/bin
/crashlytics/bin
/google-analytics/bin
/google-play-game-services/bin
/flurry/bin
/greystripe/bin
/in-app-purchase/bin
/vungle/bin
/openkit/bin
/mopub/bin
/thinkgaming/bin
/playhaven/bin
/tapjoy/bin
/gamecenter/bin
/adcolony/build
/chartboost/build
/appirater/build
/admob/build
/facebook/build
/crashlytics/build
/google-analytics/build
/google-play-game-services/build
/flurry/build
/greystripe/build
/in-app-purchase/build
/vungle/build
/openkit/build
/mopub/build
/thinkgaming/build
/playhaven/build
/tapjoy/build
/gamecenter/build