.gradle
.DS_Store
.idea
.nb-gradle
*.classpath
*.project
*.settings
*.sublime-*
/bin
/build
/out
/adcolony/build/
/chartboost/build/
/appirater/build/
/admob/build/
/facebook/build/
/crashlytics/build/
/google-analytics/build/
/google-play-game-services/build/
/flurry/build/
/greystripe/build/
/in-app-purchase/build/
/vungle/build/
/openkit/build/
/mopub/build/
/thinkgaming/build/
/playhaven/build/
/tapjoy/build/
/gamecenter/build/
/messageui/build/