<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>USD</key>
<array>
<real>0.99</real>
<real>1.99</real>
<real>2.99</real>
<real>3.99</real>
<real>4.99</real>
<real>5.99</real>
<real>6.99</real>
<real>7.99</real>
<real>8.99</real>
<real>9.99</real>
<real>10.99</real>
<real>11.99</real>
<real>12.99</real>
<real>13.99</real>
<real>14.99</real>
<real>15.99</real>
<real>16.99</real>
<real>17.99</real>
<real>18.99</real>
<real>19.99</real>
<real>20.99</real>
<real>21.99</real>
<real>22.99</real>
<real>23.99</real>
<real>24.99</real>
<real>25.99</real>
<real>26.99</real>
<real>27.99</real>
<real>28.99</real>
<real>29.99</real>
<real>30.99</real>
<real>31.99</real>
<real>32.99</real>
<real>33.99</real>
<real>34.99</real>
<real>35.99</real>
<real>36.99</real>
<real>37.99</real>
<real>38.99</real>
<real>39.99</real>
<real>40.99</real>
<real>41.99</real>
<real>42.99</real>
<real>43.99</real>
<real>44.99</real>
<real>45.99</real>
<real>46.99</real>
<real>47.99</real>
<real>48.99</real>
<real>49.99</real>
<real>54.99</real>
<real>59.99</real>
<real>64.99</real>
<real>69.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>109.99</real>
<real>119.99</real>
<real>124.99</real>
<real>129.99</real>
<real>139.99</real>
<real>149.99</real>
<real>159.99</real>
<real>169.99</real>
<real>174.99</real>
<real>179.99</real>
<real>189.99</real>
<real>199.99</real>
<real>209.99</real>
<real>219.99</real>
<real>229.99</real>
<real>239.99</real>
<real>249.99</real>
<real>299.99</real>
<real>349.99</real>
<real>399.99</real>
<real>449.99</real>
<real>499.99</real>
<real>599.99</real>
<real>699.99</real>
<real>799.99</real>
<real>899.99</real>
<real>999.99</real>
</array>
<key>CAD</key>
<array>
<real>0.99</real>
<real>1.99</real>
<real>2.99</real>
<real>3.99</real>
<real>4.99</real>
<real>5.99</real>
<real>6.99</real>
<real>7.99</real>
<real>8.99</real>
<real>9.99</real>
<real>10.99</real>
<real>11.99</real>
<real>12.99</real>
<real>13.99</real>
<real>14.99</real>
<real>15.99</real>
<real>16.99</real>
<real>17.99</real>
<real>18.99</real>
<real>19.99</real>
<real>20.99</real>
<real>21.99</real>
<real>22.99</real>
<real>23.99</real>
<real>24.99</real>
<real>25.99</real>
<real>26.99</real>
<real>27.99</real>
<real>28.99</real>
<real>29.99</real>
<real>30.99</real>
<real>31.99</real>
<real>32.99</real>
<real>33.99</real>
<real>34.99</real>
<real>35.99</real>
<real>36.99</real>
<real>37.99</real>
<real>38.99</real>
<real>39.99</real>
<real>40.99</real>
<real>41.99</real>
<real>42.99</real>
<real>43.99</real>
<real>44.99</real>
<real>45.99</real>
<real>46.99</real>
<real>47.99</real>
<real>48.99</real>
<real>49.99</real>
<real>54.99</real>
<real>59.99</real>
<real>64.99</real>
<real>69.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>109.99</real>
<real>119.99</real>
<real>124.99</real>
<real>129.99</real>
<real>139.99</real>
<real>149.99</real>
<real>159.99</real>
<real>169.99</real>
<real>174.99</real>
<real>179.99</real>
<real>189.99</real>
<real>199.99</real>
<real>209.99</real>
<real>219.99</real>
<real>229.99</real>
<real>239.99</real>
<real>249.99</real>
<real>299.99</real>
<real>349.99</real>
<real>399.99</real>
<real>449.99</real>
<real>499.99</real>
<real>599.99</real>
<real>699.99</real>
<real>799.99</real>
<real>899.99</real>
<real>999.99</real>
</array>
<key>MXN</key>
<array>
<real>13</real>
<real>26</real>
<real>39</real>
<real>49</real>
<real>65</real>
<real>79</real>
<real>89</real>
<real>99</real>
<real>119</real>
<real>129</real>
<real>139</real>
<real>159</real>
<real>169</real>
<real>179</real>
<real>199</real>
<real>209</real>
<real>219</real>
<real>229</real>
<real>249</real>
<real>259</real>
<real>269</real>
<real>289</real>
<real>299</real>
<real>309</real>
<real>329</real>
<real>339</real>
<real>349</real>
<real>359</real>
<real>379</real>
<real>389</real>
<real>399</real>
<real>419</real>
<real>429</real>
<real>439</real>
<real>459</real>
<real>469</real>
<real>479</real>
<real>489</real>
<real>509</real>
<real>519</real>
<real>529</real>
<real>549</real>
<real>559</real>
<real>569</real>
<real>589</real>
<real>599</real>
<real>609</real>
<real>619</real>
<real>639</real>
<real>649</real>
<real>699</real>
<real>799</real>
<real>849</real>
<real>899</real>
<real>999</real>
<real>1049</real>
<real>1099</real>
<real>1199</real>
<real>1249</real>
<real>1299</real>
<real>1399</real>
<real>1499</real>
<real>1599</real>
<real>1699</real>
<real>1799</real>
<real>1899</real>
<real>1999</real>
<real>2199</real>
<real>2299</real>
<real>2399</real>
<real>2499</real>
<real>2599</real>
<real>2699</real>
<real>2799</real>
<real>2999</real>
<real>3099</real>
<real>3199</real>
<real>3899</real>
<real>4499</real>
<real>4999</real>
<real>5999</real>
<real>6499</real>
<real>7999</real>
<real>8999</real>
<real>9999</real>
<real>11999</real>
<real>12999</real>
</array>
<key>AUD</key>
<array>
<real>0.99</real>
<real>1.99</real>
<real>2.99</real>
<real>4.49</real>
<real>5.49</real>
<real>6.49</real>
<real>7.49</real>
<real>8.49</real>
<real>9.49</real>
<real>10.49</real>
<real>11.49</real>
<real>12.99</real>
<real>13.99</real>
<real>14.99</real>
<real>15.99</real>
<real>16.99</real>
<real>17.99</real>
<real>18.99</real>
<real>19.99</real>
<real>20.99</real>
<real>21.99</real>
<real>22.99</real>
<real>23.99</real>
<real>24.99</real>
<real>25.99</real>
<real>26.99</real>
<real>27.99</real>
<real>29.99</real>
<real>30.99</real>
<real>31.99</real>
<real>32.99</real>
<real>33.99</real>
<real>34.99</real>
<real>35.99</real>
<real>36.99</real>
<real>37.99</real>
<real>38.99</real>
<real>39.99</real>
<real>40.99</real>
<real>41.99</real>
<real>42.99</real>
<real>43.99</real>
<real>44.99</real>
<real>45.99</real>
<real>46.99</real>
<real>47.99</real>
<real>48.99</real>
<real>49.99</real>
<real>50.99</real>
<real>51.99</real>
<real>59.99</real>
<real>64.99</real>
<real>69.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>109.99</real>
<real>119.99</real>
<real>129.99</real>
<real>134.99</real>
<real>139.99</real>
<real>149.99</real>
<real>159.99</real>
<real>169.99</real>
<real>179.99</real>
<real>184.99</real>
<real>189.99</real>
<real>199.99</real>
<real>209.99</real>
<real>219.99</real>
<real>229.99</real>
<real>239.99</real>
<real>249.99</real>
<real>269.99</real>
<real>319.99</real>
<real>379.99</real>
<real>429.99</real>
<real>499.99</real>
<real>549.99</real>
<real>649.99</real>
<real>749.99</real>
<real>849.99</real>
<real>949.99</real>
<real>1049.99</real>
</array>
<key>NZD</key>
<array>
<real>1.29</real>
<real>2.59</real>
<real>4.19</real>
<real>5.29</real>
<real>6.49</real>
<real>8.29</real>
<real>9.99</real>
<real>10.99</real>
<real>12.99</real>
<real>13.99</real>
<real>14.99</real>
<real>15.99</real>
<real>16.99</real>
<real>17.99</real>
<real>18.99</real>
<real>19.99</real>
<real>20.99</real>
<real>22.99</real>
<real>23.99</real>
<real>24.99</real>
<real>25.99</real>
<real>27.99</real>
<real>28.99</real>
<real>29.99</real>
<real>30.99</real>
<real>32.99</real>
<real>34.99</real>
<real>35.99</real>
<real>36.99</real>
<real>38.99</real>
<real>39.99</real>
<real>40.99</real>
<real>41.99</real>
<real>43.99</real>
<real>44.99</real>
<real>45.99</real>
<real>46.99</real>
<real>47.99</real>
<real>48.99</real>
<real>49.99</real>
<real>50.99</real>
<real>51.99</real>
<real>53.99</real>
<real>54.99</real>
<real>55.99</real>
<real>56.99</real>
<real>58.99</real>
<real>59.99</real>
<real>60.99</real>
<real>64.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>94.99</real>
<real>99.99</real>
<real>104.99</real>
<real>109.99</real>
<real>114.99</real>
<real>119.99</real>
<real>124.99</real>
<real>149.99</real>
<real>159.99</real>
<real>164.99</real>
<real>169.99</real>
<real>179.99</real>
<real>199.99</real>
<real>209.99</real>
<real>229.99</real>
<real>234.99</real>
<real>239.99</real>
<real>249.99</real>
<real>259.99</real>
<real>269.99</real>
<real>279.99</real>
<real>289.99</real>
<real>299.99</real>
<real>319.99</real>
<real>399.99</real>
<real>449.99</real>
<real>499.99</real>
<real>549.99</real>
<real>649.99</real>
<real>749.99</real>
<real>849.99</real>
<real>949.99</real>
<real>1049.99</real>
<real>1249.99</real>
</array>
<key>JPY</key>
<array>
<real>100</real>
<real>200</real>
<real>300</real>
<real>400</real>
<real>500</real>
<real>600</real>
<real>700</real>
<real>800</real>
<real>900</real>
<real>1000</real>
<real>1100</real>
<real>1200</real>
<real>1300</real>
<real>1400</real>
<real>1500</real>
<real>1600</real>
<real>1700</real>
<real>1800</real>
<real>1900</real>
<real>2000</real>
<real>2100</real>
<real>2200</real>
<real>2300</real>
<real>2400</real>
<real>2500</real>
<real>2600</real>
<real>2700</real>
<real>2800</real>
<real>2900</real>
<real>3000</real>
<real>3100</real>
<real>3200</real>
<real>3300</real>
<real>3400</real>
<real>3500</real>
<real>3600</real>
<real>3700</real>
<real>3800</real>
<real>3900</real>
<real>4000</real>
<real>4100</real>
<real>4200</real>
<real>4300</real>
<real>4400</real>
<real>4500</real>
<real>4600</real>
<real>4700</real>
<real>4800</real>
<real>4900</real>
<real>5000</real>
<real>5400</real>
<real>5800</real>
<real>6400</real>
<real>6800</real>
<real>7400</real>
<real>7800</real>
<real>8400</real>
<real>8800</real>
<real>9400</real>
<real>9800</real>
<real>10800</real>
<real>11800</real>
<real>12400</real>
<real>12800</real>
<real>13800</real>
<real>14800</real>
<real>15800</real>
<real>16800</real>
<real>17400</real>
<real>17800</real>
<real>18800</real>
<real>19800</real>
<real>20800</real>
<real>21800</real>
<real>22800</real>
<real>23800</real>
<real>24800</real>
<real>28800</real>
<real>34800</real>
<real>38800</real>
<real>44800</real>
<real>48800</real>
<real>58800</real>
<real>68800</real>
<real>78800</real>
<real>88800</real>
<real>98800</real>
</array>
<key>EUR</key>
<array>
<real>0.89</real>
<real>1.79</real>
<real>2.69</real>
<real>3.59</real>
<real>4.49</real>
<real>5.49</real>
<real>5.99</real>
<real>6.99</real>
<real>7.99</real>
<real>8.99</real>
<real>9.99</real>
<real>10.99</real>
<real>11.99</real>
<real>12.99</real>
<real>13.99</real>
<real>14.49</real>
<real>14.99</real>
<real>15.99</real>
<real>16.99</real>
<real>17.99</real>
<real>18.99</real>
<real>19.99</real>
<real>20.99</real>
<real>21.49</real>
<real>21.99</real>
<real>22.99</real>
<real>23.99</real>
<real>24.99</real>
<real>25.99</real>
<real>26.99</real>
<real>27.99</real>
<real>28.99</real>
<real>29.49</real>
<real>29.99</real>
<real>30.99</real>
<real>31.99</real>
<real>32.99</real>
<real>33.99</real>
<real>34.99</real>
<real>35.99</real>
<real>36.99</real>
<real>37.49</real>
<real>37.99</real>
<real>38.99</real>
<real>39.99</real>
<real>40.99</real>
<real>41.99</real>
<real>42.99</real>
<real>43.99</real>
<real>44.99</real>
<real>49.99</real>
<real>54.99</real>
<real>59.99</real>
<real>62.99</real>
<real>64.99</real>
<real>69.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>104.99</real>
<real>109.99</real>
<real>119.99</real>
<real>129.99</real>
<real>139.99</real>
<real>149.99</real>
<real>154.99</real>
<real>159.99</real>
<real>169.99</real>
<real>179.99</real>
<real>189.99</real>
<real>199.99</real>
<real>209.99</real>
<real>219.99</real>
<real>229.99</real>
<real>269.99</real>
<real>319.99</real>
<real>359.99</real>
<real>399.99</real>
<real>449.99</real>
<real>549.99</real>
<real>639.99</real>
<real>719.99</real>
<real>799.99</real>
<real>899.99</real>
</array>
<key>CHF</key>
<array>
<real>1</real>
<real>2</real>
<real>3</real>
<real>4</real>
<real>5</real>
<real>6</real>
<real>7</real>
<real>8</real>
<real>9</real>
<real>10</real>
<real>11</real>
<real>12</real>
<real>13</real>
<real>14</real>
<real>15</real>
<real>16</real>
<real>17</real>
<real>18</real>
<real>19</real>
<real>20</real>
<real>21</real>
<real>22</real>
<real>23</real>
<real>24</real>
<real>25</real>
<real>26</real>
<real>27</real>
<real>28</real>
<real>28.5</real>
<real>29</real>
<real>30</real>
<real>31</real>
<real>32</real>
<real>33</real>
<real>34</real>
<real>35</real>
<real>36</real>
<real>37</real>
<real>38</real>
<real>39</real>
<real>40</real>
<real>41</real>
<real>42</real>
<real>43</real>
<real>44</real>
<real>45</real>
<real>46</real>
<real>47</real>
<real>47.5</real>
<real>48</real>
<real>55</real>
<real>60</real>
<real>65</real>
<real>70</real>
<real>75</real>
<real>80</real>
<real>85</real>
<real>90</real>
<real>95</real>
<real>100</real>
<real>110</real>
<real>120</real>
<real>125</real>
<real>130</real>
<real>140</real>
<real>150</real>
<real>160</real>
<real>170</real>
<real>175</real>
<real>180</real>
<real>190</real>
<real>200</real>
<real>210</real>
<real>220</real>
<real>230</real>
<real>240</real>
<real>250</real>
<real>300</real>
<real>350</real>
<real>400</real>
<real>450</real>
<real>500</real>
<real>600</real>
<real>700</real>
<real>800</real>
<real>900</real>
<real>1000</real>
</array>
<key>NOK</key>
<array>
<real>7</real>
<real>14</real>
<real>21</real>
<real>28</real>
<real>35</real>
<real>42</real>
<real>49</real>
<real>56</real>
<real>63</real>
<real>70</real>
<real>77</real>
<real>84</real>
<real>91</real>
<real>98</real>
<real>105</real>
<real>112</real>
<real>119</real>
<real>126</real>
<real>133</real>
<real>140</real>
<real>147</real>
<real>154</real>
<real>161</real>
<real>168</real>
<real>175</real>
<real>182</real>
<real>189</real>
<real>196</real>
<real>203</real>
<real>209</real>
<real>217</real>
<real>224</real>
<real>231</real>
<real>238</real>
<real>245</real>
<real>252</real>
<real>259</real>
<real>266</real>
<real>273</real>
<real>280</real>
<real>287</real>
<real>294</real>
<real>301</real>
<real>308</real>
<real>315</real>
<real>322</real>
<real>329</real>
<real>336</real>
<real>343</real>
<real>349</real>
<real>385</real>
<real>420</real>
<real>455</real>
<real>490</real>
<real>525</real>
<real>560</real>
<real>595</real>
<real>630</real>
<real>665</real>
<real>700</real>
<real>770</real>
<real>840</real>
<real>870</real>
<real>910</real>
<real>980</real>
<real>1050</real>
<real>1120</real>
<real>1190</real>
<real>1220</real>
<real>1260</real>
<real>1330</real>
<real>1400</real>
<real>1470</real>
<real>1540</real>
<real>1610</real>
<real>1680</real>
<real>1750</real>
<real>2100</real>
<real>2450</real>
<real>2800</real>
<real>3150</real>
<real>3500</real>
<real>4200</real>
<real>4900</real>
<real>5600</real>
<real>6300</real>
<real>7000</real>
</array>
<key>GBP</key>
<array>
<real>0.69</real>
<real>1.49</real>
<real>1.99</real>
<real>2.49</real>
<real>2.99</real>
<real>3.99</real>
<real>4.99</real>
<real>5.49</real>
<real>5.99</real>
<real>6.99</real>
<real>7.49</real>
<real>7.99</real>
<real>8.99</real>
<real>9.99</real>
<real>10.49</real>
<real>10.99</real>
<real>11.99</real>
<real>12.99</real>
<real>13.49</real>
<real>13.99</real>
<real>14.99</real>
<real>15.49</real>
<real>15.99</real>
<real>16.99</real>
<real>17.49</real>
<real>17.99</real>
<real>18.99</real>
<real>19.49</real>
<real>19.99</real>
<real>20.99</real>
<real>21.99</real>
<real>22.49</real>
<real>22.99</real>
<real>23.99</real>
<real>24.49</real>
<real>24.99</real>
<real>25.99</real>
<real>26.99</real>
<real>27.49</real>
<real>27.99</real>
<real>28.99</real>
<real>29.49</real>
<real>29.99</real>
<real>30.99</real>
<real>31.99</real>
<real>32.49</real>
<real>32.99</real>
<real>33.99</real>
<real>34.49</real>
<real>34.99</real>
<real>37.99</real>
<real>39.99</real>
<real>44.99</real>
<real>47.99</real>
<real>49.99</real>
<real>54.99</real>
<real>57.99</real>
<real>59.99</real>
<real>64.99</real>
<real>69.99</real>
<real>74.99</real>
<real>79.99</real>
<real>84.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>109.99</real>
<real>119.99</real>
<real>122.99</real>
<real>124.99</real>
<real>129.99</real>
<real>139.99</real>
<real>144.99</real>
<real>149.99</real>
<real>159.99</real>
<real>169.99</real>
<real>174.99</real>
<real>199.99</real>
<real>249.99</real>
<real>299.99</real>
<real>324.99</real>
<real>349.99</real>
<real>399.99</real>
<real>499.99</real>
<real>549.99</real>
<real>599.99</real>
<real>699.99</real>
</array>
<key>DKK</key>
<array>
<real>7</real>
<real>13</real>
<real>19</real>
<real>25</real>
<real>32</real>
<real>39</real>
<real>45</real>
<real>55</real>
<real>59</real>
<real>65</real>
<real>69</real>
<real>79</real>
<real>85</real>
<real>89</real>
<real>99</real>
<real>105</real>
<real>109</real>
<real>119</real>
<real>125</real>
<real>129</real>
<real>139</real>
<real>145</real>
<real>149</real>
<real>159</real>
<real>165</real>
<real>169</real>
<real>179</real>
<real>185</real>
<real>189</real>
<real>199</real>
<real>205</real>
<real>209</real>
<real>219</real>
<real>225</real>
<real>229</real>
<real>239</real>
<real>245</real>
<real>249</real>
<real>259</real>
<real>265</real>
<real>269</real>
<real>279</real>
<real>285</real>
<real>289</real>
<real>299</real>
<real>305</real>
<real>309</real>
<real>319</real>
<real>325</real>
<real>329</real>
<real>379</real>
<real>399</real>
<real>429</real>
<real>449</real>
<real>499</real>
<real>529</real>
<real>549</real>
<real>599</real>
<real>629</real>
<real>649</real>
<real>749</real>
<real>799</real>
<real>849</real>
<real>899</real>
<real>949</real>
<real>999</real>
<real>1049</real>
<real>1099</real>
<real>1149</real>
<real>1199</real>
<real>1249</real>
<real>1299</real>
<real>1399</real>
<real>1449</real>
<real>1499</real>
<real>1599</real>
<real>1699</real>
<real>1999</real>
<real>2299</real>
<real>2599</real>
<real>2999</real>
<real>3299</real>
<real>3999</real>
<real>4499</real>
<real>4999</real>
<real>5999</real>
<real>6499</real>
</array>
<key>SEK</key>
<array>
<real>7</real>
<real>15</real>
<real>22</real>
<real>28</real>
<real>38</real>
<real>45</real>
<real>49</real>
<real>55</real>
<real>65</real>
<real>75</real>
<real>85</real>
<real>95</real>
<real>99</real>
<real>105</real>
<real>109</real>
<real>119</real>
<real>129</real>
<real>135</real>
<real>139</real>
<real>149</real>
<real>159</real>
<real>169</real>
<real>175</real>
<real>179</real>
<real>189</real>
<real>195</real>
<real>199</real>
<real>209</real>
<real>219</real>
<real>229</real>
<real>235</real>
<real>239</real>
<real>245</real>
<real>249</real>
<real>265</real>
<real>269</real>
<real>275</real>
<real>285</real>
<real>289</real>
<real>299</real>
<real>309</real>
<real>315</real>
<real>319</real>
<real>329</real>
<real>339</real>
<real>345</real>
<real>349</real>
<real>359</real>
<real>369</real>
<real>379</real>
<real>399</real>
<real>419</real>
<real>469</real>
<real>519</real>
<real>569</real>
<real>599</real>
<real>619</real>
<real>659</real>
<real>699</real>
<real>749</real>
<real>799</real>
<real>849</real>
<real>879</real>
<real>899</real>
<real>949</real>
<real>999</real>
<real>1099</real>
<real>1179</real>
<real>1199</real>
<real>1239</real>
<real>1319</real>
<real>1399</real>
<real>1499</real>
<real>1599</real>
<real>1699</real>
<real>1799</real>
<real>1899</real>
<real>2299</real>
<real>2599</real>
<real>2999</real>
<real>3399</real>
<real>3799</real>
<real>4499</real>
<real>5299</real>
<real>5999</real>
<real>6799</real>
<real>7499</real>
</array>
<key>CNY</key>
<array>
<real>6</real>
<real>12</real>
<real>18</real>
<real>25</real>
<real>30</real>
<real>40</real>
<real>45</real>
<real>50</real>
<real>60</real>
<real>68</real>
<real>73</real>
<real>78</real>
<real>88</real>
<real>93</real>
<real>98</real>
<real>108</real>
<real>113</real>
<real>118</real>
<real>123</real>
<real>128</real>
<real>138</real>
<real>148</real>
<real>153</real>
<real>158</real>
<real>163</real>
<real>168</real>
<real>178</real>
<real>188</real>
<real>193</real>
<real>198</real>
<real>208</real>
<real>218</real>
<real>223</real>
<real>228</real>
<real>233</real>
<real>238</real>
<real>243</real>
<real>248</real>
<real>253</real>
<real>258</real>
<real>263</real>
<real>268</real>
<real>273</real>
<real>278</real>
<real>283</real>
<real>288</real>
<real>298</real>
<real>308</real>
<real>318</real>
<real>328</real>
<real>348</real>
<real>388</real>
<real>418</real>
<real>448</real>
<real>488</real>
<real>518</real>
<real>548</real>
<real>588</real>
<real>618</real>
<real>648</real>
<real>698</real>
<real>798</real>
<real>818</real>
<real>848</real>
<real>898</real>
<real>998</real>
<real>1048</real>
<real>1098</real>
<real>1148</real>
<real>1198</real>
<real>1248</real>
<real>1298</real>
<real>1398</real>
<real>1448</real>
<real>1498</real>
<real>1598</real>
<real>1648</real>
<real>1998</real>
<real>2298</real>
<real>2598</real>
<real>2998</real>
<real>3298</real>
<real>3998</real>
<real>4498</real>
<real>4998</real>
<real>5898</real>
<real>6498</real>
</array>
<key>SGD</key>
<array>
<real>1.28</real>
<real>2.58</real>
<real>3.98</real>
<real>4.98</real>
<real>5.98</real>
<real>6.98</real>
<real>8.98</real>
<real>9.98</real>
<real>10.98</real>
<real>12.98</real>
<real>13.98</real>
<real>14.98</real>
<real>15.98</real>
<real>17.98</real>
<real>18.98</real>
<real>19.98</real>
<real>21.98</real>
<real>22.98</real>
<real>23.98</real>
<real>25.98</real>
<real>26.98</real>
<real>27.98</real>
<real>28.98</real>
<real>30.98</real>
<real>31.98</real>
<real>32.98</real>
<real>34.98</real>
<real>35.98</real>
<real>36.98</real>
<real>38.98</real>
<real>39.98</real>
<real>40.98</real>
<real>41.98</real>
<real>43.98</real>
<real>44.98</real>
<real>45.98</real>
<real>47.98</real>
<real>48.98</real>
<real>49.98</real>
<real>51.98</real>
<real>52.98</real>
<real>53.98</real>
<real>54.98</real>
<real>56.98</real>
<real>57.98</real>
<real>58.98</real>
<real>60.98</real>
<real>61.98</real>
<real>62.98</real>
<real>64.98</real>
<real>68.98</real>
<real>74.98</real>
<real>78.98</real>
<real>88.98</real>
<real>94.98</real>
<real>98.98</real>
<real>104.98</real>
<real>108.98</real>
<real>118.98</real>
<real>128.98</real>
<real>138.98</real>
<real>148.98</real>
<real>158.98</real>
<real>168.98</real>
<real>178.98</real>
<real>188.98</real>
<real>198.98</real>
<real>208.98</real>
<real>218.98</real>
<real>228.98</real>
<real>238.98</real>
<real>258.98</real>
<real>268.98</real>
<real>278.98</real>
<real>288.98</real>
<real>298.98</real>
<real>308.98</real>
<real>368.98</real>
<real>428.98</real>
<real>488.98</real>
<real>588.98</real>
<real>648.98</real>
<real>788.98</real>
<real>888.98</real>
<real>988.98</real>
<real>1088.98</real>
<real>1288.98</real>
</array>
<key>HKD</key>
<array>
<real>8</real>
<real>15</real>
<real>23</real>
<real>28</real>
<real>38</real>
<real>48</real>
<real>53</real>
<real>58</real>
<real>68</real>
<real>78</real>
<real>83</real>
<real>88</real>
<real>98</real>
<real>108</real>
<real>118</real>
<real>123</real>
<real>128</real>
<real>138</real>
<real>148</real>
<real>158</real>
<real>163</real>
<real>168</real>
<real>178</real>
<real>188</real>
<real>198</real>
<real>203</real>
<real>208</real>
<real>218</real>
<real>228</real>
<real>238</real>
<real>243</real>
<real>248</real>
<real>258</real>
<real>268</real>
<real>278</real>
<real>283</real>
<real>288</real>
<real>298</real>
<real>308</real>
<real>318</real>
<real>323</real>
<real>328</real>
<real>338</real>
<real>348</real>
<real>358</real>
<real>363</real>
<real>368</real>
<real>378</real>
<real>388</real>
<real>398</real>
<real>418</real>
<real>448</real>
<real>488</real>
<real>548</real>
<real>588</real>
<real>618</real>
<real>648</real>
<real>688</real>
<real>748</real>
<real>788</real>
<real>848</real>
<real>888</real>
<real>988</real>
<real>1048</real>
<real>1088</real>
<real>1188</real>
<real>1248</real>
<real>1288</real>
<real>1388</real>
<real>1448</real>
<real>1488</real>
<real>1588</real>
<real>1648</real>
<real>1688</real>
<real>1788</real>
<real>1848</real>
<real>1888</real>
<real>2288</real>
<real>2688</real>
<real>3088</real>
<real>3488</real>
<real>3888</real>
<real>4488</real>
<real>4988</real>
<real>5988</real>
<real>6988</real>
<real>7888</real>
</array>
<key>TWD</key>
<array>
<real>30</real>
<real>60</real>
<real>90</real>
<real>120</real>
<real>150</real>
<real>180</real>
<real>210</real>
<real>240</real>
<real>270</real>
<real>300</real>
<real>330</real>
<real>360</real>
<real>390</real>
<real>420</real>
<real>450</real>
<real>490</real>
<real>520</real>
<real>540</real>
<real>570</real>
<real>590</real>
<real>630</real>
<real>660</real>
<real>690</real>
<real>720</real>
<real>750</real>
<real>790</real>
<real>820</real>
<real>840</real>
<real>870</real>
<real>890</real>
<real>930</real>
<real>960</real>
<real>990</real>
<real>1020</real>
<real>1050</real>
<real>1090</real>
<real>1120</real>
<real>1140</real>
<real>1170</real>
<real>1190</real>
<real>1230</real>
<real>1260</real>
<real>1290</real>
<real>1320</real>
<real>1350</real>
<real>1390</real>
<real>1420</real>
<real>1440</real>
<real>1470</real>
<real>1490</real>
<real>1590</real>
<real>1790</real>
<real>1990</real>
<real>2090</real>
<real>2190</real>
<real>2390</real>
<real>2490</real>
<real>2690</real>
<real>2790</real>
<real>2990</real>
<real>3290</real>
<real>3590</real>
<real>3790</real>
<real>3890</real>
<real>4190</real>
<real>4490</real>
<real>4790</real>
<real>5090</real>
<real>5290</real>
<real>5390</real>
<real>5690</real>
<real>5990</real>
<real>6290</real>
<real>6590</real>
<real>6890</real>
<real>7190</real>
<real>7490</real>
<real>8990</real>
<real>9990</real>
<real>11900</real>
<real>12900</real>
<real>14900</real>
<real>17900</real>
<real>20900</real>
<real>23900</real>
<real>26900</real>
<real>29900</real>
</array>
<key>RUB</key>
<array>
<real>33</real>
<real>66</real>
<real>99</real>
<real>129</real>
<real>169</real>
<real>199</real>
<real>229</real>
<real>269</real>
<real>299</real>
<real>329</real>
<real>349</real>
<real>379</real>
<real>399</real>
<real>449</real>
<real>479</real>
<real>499</real>
<real>549</real>
<real>579</real>
<real>599</real>
<real>649</real>
<real>679</real>
<real>699</real>
<real>749</real>
<real>779</real>
<real>799</real>
<real>849</real>
<real>879</real>
<real>899</real>
<real>949</real>
<real>979</real>
<real>999</real>
<real>1029</real>
<real>1049</real>
<real>1099</real>
<real>1129</real>
<real>1149</real>
<real>1199</real>
<real>1229</real>
<real>1249</real>
<real>1299</real>
<real>1329</real>
<real>1349</real>
<real>1399</real>
<real>1429</real>
<real>1449</real>
<real>1499</real>
<real>1529</real>
<real>1549</real>
<real>1590</real>
<real>1690</real>
<real>1790</real>
<real>1990</real>
<real>2090</real>
<real>2290</real>
<real>2490</real>
<real>2690</real>
<real>2790</real>
<real>2990</real>
<real>3090</real>
<real>3290</real>
<real>3490</real>
<real>3790</real>
<real>3890</real>
<real>3990</real>
<real>4490</real>
<real>4790</real>
<real>4990</real>
<real>5490</real>
<real>5690</real>
<real>5790</real>
<real>5990</real>
<real>6490</real>
<real>6790</real>
<real>6990</real>
<real>7490</real>
<real>7790</real>
<real>7990</real>
<real>9790</real>
<real>11490</real>
<real>12990</real>
<real>14990</real>
<real>16990</real>
<real>19990</real>
<real>22990</real>
<real>26990</real>
<real>29990</real>
<real>32990</real>
</array>
<key>TRY</key>
<array>
<real>1.79</real>
<real>3.59</real>
<real>5.49</real>
<real>6.99</real>
<real>8.99</real>
<real>10.99</real>
<real>12.99</real>
<real>14.99</real>
<real>16.99</real>
<real>17.99</real>
<real>19.99</real>
<real>21.99</real>
<real>23.99</real>
<real>24.99</real>
<real>26.99</real>
<real>28.99</real>
<real>30.99</real>
<real>32.99</real>
<real>34.99</real>
<real>35.99</real>
<real>37.99</real>
<real>39.99</real>
<real>41.99</real>
<real>43.99</real>
<real>44.99</real>
<real>46.99</real>
<real>48.99</real>
<real>50.99</real>
<real>52.99</real>
<real>53.99</real>
<real>55.99</real>
<real>57.99</real>
<real>59.99</real>
<real>61.99</real>
<real>62.99</real>
<real>64.99</real>
<real>66.99</real>
<real>68.99</real>
<real>70.99</real>
<real>71.99</real>
<real>73.99</real>
<real>75.99</real>
<real>77.99</real>
<real>79.99</real>
<real>80.99</real>
<real>82.99</real>
<real>84.99</real>
<real>86.99</real>
<real>88.99</real>
<real>89.99</real>
<real>99.99</real>
<real>109.99</real>
<real>119.99</real>
<real>129.99</real>
<real>139.99</real>
<real>144.99</real>
<real>149.99</real>
<real>159.99</real>
<real>169.99</real>
<real>179.99</real>
<real>199.99</real>
<real>219.99</real>
<real>229.99</real>
<real>239.99</real>
<real>249.99</real>
<real>269.99</real>
<real>289.99</real>
<real>309.99</real>
<real>319.99</real>
<real>329.99</real>
<real>349.99</real>
<real>359.99</real>
<real>379.99</real>
<real>399.99</real>
<real>419.99</real>
<real>439.99</real>
<real>449.99</real>
<real>549.99</real>
<real>649.99</real>
<real>749.99</real>
<real>799.99</real>
<real>899.99</real>
<real>1099.99</real>
<real>1299.99</real>
<real>1399.99</real>
<real>1599.99</real>
<real>1799.99</real>
</array>
<key>INR</key>
<array>
<real>55</real>
<real>110</real>
<real>170</real>
<real>220</real>
<real>270</real>
<real>350</real>
<real>390</real>
<real>450</real>
<real>490</real>
<real>550</real>
<real>590</real>
<real>650</real>
<real>690</real>
<real>750</real>
<real>790</real>
<real>890</real>
<real>950</real>
<real>990</real>
<real>1050</real>
<real>1100</real>
<real>1150</real>
<real>1200</real>
<real>1250</real>
<real>1300</real>
<real>1350</real>
<real>1400</real>
<real>1500</real>
<real>1550</real>
<real>1600</real>
<real>1650</real>
<real>1700</real>
<real>1750</real>
<real>1800</real>
<real>1850</real>
<real>1900</real>
<real>2000</real>
<real>2050</real>
<real>2100</real>
<real>2150</real>
<real>2200</real>
<real>2250</real>
<real>2300</real>
<real>2350</real>
<real>2400</real>
<real>2450</real>
<real>2500</real>
<real>2550</real>
<real>2600</real>
<real>2650</real>
<real>2700</real>
<real>2900</real>
<real>3200</real>
<real>3500</real>
<real>3900</real>
<real>4200</real>
<real>4500</real>
<real>4700</real>
<real>4900</real>
<real>5200</real>
<real>5500</real>
<real>5900</real>
<real>6500</real>
<real>6900</real>
<real>7500</real>
<real>7900</real>
<real>8500</real>
<real>8900</real>
<real>9500</real>
<real>9900</real>
<real>10500</real>
<real>10900</real>
<real>11500</real>
<real>11900</real>
<real>12500</real>
<real>12900</real>
<real>13500</real>
<real>13900</real>
<real>15900</real>
<real>18900</real>
<real>21900</real>
<real>24900</real>
<real>27900</real>
<real>32900</real>
<real>38900</real>
<real>44900</real>
<real>49900</real>
<real>54900</real>
</array>
<key>IDR</key>
<array>
<real>9500</real>
<real>19000</real>
<real>29000</real>
<real>39000</real>
<real>49000</real>
<real>59000</real>
<real>69000</real>
<real>79000</real>
<real>89000</real>
<real>95000</real>
<real>99000</real>
<real>109000</real>
<real>119000</real>
<real>129000</real>
<real>139000</real>
<real>149000</real>
<real>159000</real>
<real>169000</real>
<real>179000</real>
<real>189000</real>
<real>199000</real>
<real>209000</real>
<real>219000</real>
<real>229000</real>
<real>239000</real>
<real>249000</real>
<real>259000</real>
<real>269000</real>
<real>279000</real>
<real>289000</real>
<real>299000</real>
<real>309000</real>
<real>319000</real>
<real>329000</real>
<real>339000</real>
<real>349000</real>
<real>359000</real>
<real>369000</real>
<real>379000</real>
<real>389000</real>
<real>395000</real>
<real>399000</real>
<real>409000</real>
<real>419000</real>
<real>429000</real>
<real>439000</real>
<real>449000</real>
<real>459000</real>
<real>469000</real>
<real>479000</real>
<real>499000</real>
<real>549000</real>
<real>599000</real>
<real>649000</real>
<real>699000</real>
<real>749000</real>
<real>799000</real>
<real>849000</real>
<real>899000</real>
<real>949000</real>
<real>1.049e+06</real>
<real>1.149e+06</real>
<real>1.199e+06</real>
<real>1.249e+06</real>
<real>1.299e+06</real>
<real>1.399e+06</real>
<real>1.499e+06</real>
<real>1.599e+06</real>
<real>1.649e+06</real>
<real>1.699e+06</real>
<real>1.799e+06</real>
<real>1.899e+06</real>
<real>1.999e+06</real>
<real>2.099e+06</real>
<real>2.199e+06</real>
<real>2.299e+06</real>
<real>2.399e+06</real>
<real>2.899e+06</real>
<real>3.399e+06</real>
<real>3.899e+06</real>
<real>4.299e+06</real>
<real>4.799e+06</real>
<real>5.499e+06</real>
<real>6.499e+06</real>
<real>7.499e+06</real>
<real>8.499e+06</real>
<real>9.499e+06</real>
</array>
<key>ILS</key>
<array>
<real>3.9</real>
<real>7.9</real>
<real>11.9</real>
<real>15.9</real>
<real>19.9</real>
<real>23.9</real>
<real>27.9</real>
<real>31.9</real>
<real>35.9</real>
<real>39.9</real>
<real>43.9</real>
<real>47.9</real>
<real>51.9</real>
<real>55.9</real>
<real>59.9</real>
<real>63.9</real>
<real>67.9</real>
<real>71.9</real>
<real>75.9</real>
<real>79.9</real>
<real>83.9</real>
<real>87.9</real>
<real>91.9</real>
<real>95.9</real>
<real>99.9</real>
<real>103.9</real>
<real>107.9</real>
<real>111.9</real>
<real>115.9</real>
<real>119.9</real>
<real>123.9</real>
<real>127.9</real>
<real>131.9</real>
<real>135.9</real>
<real>139.9</real>
<real>143.9</real>
<real>147.9</real>
<real>151.9</real>
<real>155.9</real>
<real>159.9</real>
<real>163.9</real>
<real>167.9</real>
<real>171.9</real>
<real>175.9</real>
<real>179.9</real>
<real>183.9</real>
<real>187.9</real>
<real>191.9</real>
<real>195.9</real>
<real>199.9</real>
<real>219.9</real>
<real>239.9</real>
<real>259.9</real>
<real>279.9</real>
<real>299.9</real>
<real>319.9</real>
<real>339.9</real>
<real>359.9</real>
<real>379.9</real>
<real>399.9</real>
<real>439.9</real>
<real>479.9</real>
<real>499.9</real>
<real>519.9</real>
<real>559.9</real>
<real>599.9</real>
<real>639.9</real>
<real>679.9</real>
<real>699.9</real>
<real>719.9</real>
<real>759.9</real>
<real>799.9</real>
<real>839.9</real>
<real>879.9</real>
<real>919.9</real>
<real>959.9</real>
<real>999.9</real>
<real>1199.9</real>
<real>1399.9</real>
<real>1599.9</real>
<real>1799.9</real>
<real>1999.9</real>
<real>2399.9</real>
<real>2799.9</real>
<real>3199.9</real>
<real>3599.9</real>
<real>3999.9</real>
</array>
<key>ZAR</key>
<array>
<real>7.99</real>
<real>15.99</real>
<real>24.99</real>
<real>32.99</real>
<real>39.99</real>
<real>48.99</real>
<real>56.99</real>
<real>64.99</real>
<real>72.99</real>
<real>79.99</real>
<real>89.99</real>
<real>99.99</real>
<real>109.99</real>
<real>114.99</real>
<real>119.99</real>
<real>129.99</real>
<real>139.99</real>
<real>149.99</real>
<real>154.99</real>
<real>159.99</real>
<real>169.99</real>
<real>179.99</real>
<real>189.99</real>
<real>194.99</real>
<real>199.99</real>
<real>209.99</real>
<real>219.99</real>
<real>229.99</real>
<real>234.99</real>
<real>239.99</real>
<real>249.99</real>
<real>259.99</real>
<real>269.99</real>
<real>274.99</real>
<real>279.99</real>
<real>289.99</real>
<real>299.99</real>
<real>309.99</real>
<real>314.99</real>
<real>319.99</real>
<real>329.99</real>
<real>339.99</real>
<real>349.99</real>
<real>354.99</real>
<real>359.99</real>
<real>369.99</real>
<real>379.99</real>
<real>389.99</real>
<real>394.99</real>
<real>399.99</real>
<real>449.99</real>
<real>499.99</real>
<real>549.99</real>
<real>579.99</real>
<real>599.99</real>
<real>649.99</real>
<real>699.99</real>
<real>749.99</real>
<real>779.99</real>
<real>799.99</real>
<real>899.99</real>
<real>999.99</real>
<real>1049.99</real>
<real>1099.99</real>
<real>1149.99</real>
<real>1199.99</real>
<real>1299.99</real>
<real>1399.99</real>
<real>1449.99</real>
<real>1499.99</real>
<real>1549.99</real>
<real>1599.99</real>
<real>1699.99</real>
<real>1799.99</real>
<real>1899.99</real>
<real>1949.99</real>
<real>1999.99</real>
<real>2499.99</real>
<real>2999.99</real>
<real>3299.99</real>
<real>3799.99</real>
<real>3999.99</real>
<real>4999.99</real>
<real>5999.99</real>
<real>6499.99</real>
<real>7499.99</real>
<real>7999.99</real>
</array>
<key>SAR</key>
<array>
<real>3.69</real>
<real>7.29</real>
<real>10.99</real>
<real>14.99</real>
<real>17.99</real>
<real>20.99</real>
<real>24.99</real>
<real>29.99</real>
<real>32.99</real>
<real>36.99</real>
<real>39.99</real>
<real>44.99</real>
<real>47.99</real>
<real>49.99</real>
<real>54.99</real>
<real>59.99</real>
<real>64.99</real>
<real>67.99</real>
<real>69.99</real>
<real>74.99</real>
<real>77.99</real>
<real>79.99</real>
<real>84.99</real>
<real>87.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>104.99</real>
<real>107.99</real>
<real>109.99</real>
<real>114.99</real>
<real>117.99</real>
<real>119.99</real>
<real>124.99</real>
<real>127.99</real>
<real>129.99</real>
<real>134.99</real>
<real>139.99</real>
<real>144.99</real>
<real>147.99</real>
<real>149.99</real>
<real>154.99</real>
<real>157.99</real>
<real>159.99</real>
<real>164.99</real>
<real>167.99</real>
<real>169.99</real>
<real>174.99</real>
<real>179.99</real>
<real>184.99</real>
<real>199.99</real>
<real>219.99</real>
<real>229.99</real>
<real>249.99</real>
<real>279.99</real>
<real>299.99</real>
<real>319.99</real>
<real>329.99</real>
<real>349.99</real>
<real>369.99</real>
<real>399.99</real>
<real>429.99</real>
<real>449.99</real>
<real>479.99</real>
<real>499.99</real>
<real>549.99</real>
<real>579.99</real>
<real>599.99</real>
<real>649.99</real>
<real>679.99</real>
<real>699.99</real>
<real>749.99</real>
<real>779.99</real>
<real>799.99</real>
<real>849.99</real>
<real>879.99</real>
<real>899.99</real>
<real>1099.99</real>
<real>1299.99</real>
<real>1499.99</real>
<real>1599.99</real>
<real>1799.99</real>
<real>2199.99</real>
<real>2499.99</real>
<real>2999.99</real>
<real>3299.99</real>
<real>3699.99</real>
</array>
<key>AED</key>
<array>
<real>3.69</real>
<real>7.29</real>
<real>10.99</real>
<real>14.99</real>
<real>17.99</real>
<real>20.99</real>
<real>24.99</real>
<real>29.99</real>
<real>32.99</real>
<real>36.99</real>
<real>39.99</real>
<real>44.99</real>
<real>47.99</real>
<real>49.99</real>
<real>54.99</real>
<real>59.99</real>
<real>64.99</real>
<real>67.99</real>
<real>69.99</real>
<real>74.99</real>
<real>77.99</real>
<real>79.99</real>
<real>84.99</real>
<real>87.99</real>
<real>89.99</real>
<real>94.99</real>
<real>99.99</real>
<real>104.99</real>
<real>107.99</real>
<real>109.99</real>
<real>114.99</real>
<real>117.99</real>
<real>119.99</real>
<real>124.99</real>
<real>127.99</real>
<real>129.99</real>
<real>134.99</real>
<real>139.99</real>
<real>144.99</real>
<real>147.99</real>
<real>149.99</real>
<real>154.99</real>
<real>157.99</real>
<real>159.99</real>
<real>164.99</real>
<real>167.99</real>
<real>169.99</real>
<real>174.99</real>
<real>179.99</real>
<real>184.99</real>
<real>199.99</real>
<real>219.99</real>
<real>229.99</real>
<real>249.99</real>
<real>279.99</real>
<real>299.99</real>
<real>319.99</real>
<real>329.99</real>
<real>349.99</real>
<real>369.99</real>
<real>399.99</real>
<real>429.99</real>
<real>449.99</real>
<real>479.99</real>
<real>499.99</real>
<real>549.99</real>
<real>579.99</real>
<real>599.99</real>
<real>649.99</real>
<real>679.99</real>
<real>699.99</real>
<real>749.99</real>
<real>779.99</real>
<real>799.99</real>
<real>849.99</real>
<real>879.99</real>
<real>899.99</real>
<real>1099.99</real>
<real>1299.99</real>
<real>1499.99</real>
<real>1599.99</real>
<real>1799.99</real>
<real>2199.99</real>
<real>2499.99</real>
<real>2999.99</real>
<real>3299.99</real>
<real>3699.99</real>
</array>
</dict>
</plist>
